@use '../../global-styles/variables.scss' as *;

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding-block: 20px;
  padding-inline: 30px;
}

.title {
  text-align: center;
  height: 47px;
  padding-top: 8px;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardInfoItem {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-top: 5px;
}

.cardEpisode {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.close {
  position: absolute;
  left: 90%;
  top: 10px;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
