@use '../../global-styles/variables.scss' as *;

.card {
  background-color: $card-bg-color;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.4);
}

.cardName {
  text-align: center;
}


.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;  
  padding: 10px 20px;
}

.cardInfoItem {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-top: 5px;
}

.cardEpisode {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}