.small {
  width: 250px;
  height: 250px;
}

.big {
  width: 350px;
  height: 350px;
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.cardImg.loaded {
  opacity: 1;
}